<html>
    <head>
    </head>

    <body>
        {{>navbar}}

        <div class="container">
            <br>
            <br>
        </div>

        <div class="container">
            <div class="card">
                <div class="row">                    
                    <div class="col-md-6">
                        <div class="card-body">
                            <br>
                            <h1 style="font-size: 60; text-align: center" >About Us</h1>
                            <br>
                            <p class="card-text" style="font-size: 21">We are a non-profit organisation based in Glasgow, Scotland.
                            Our vison is to create a sustainable network of pantries providing low-cost food and wrap around services.
                            The Pantry will support upskilling the community through volunteering and employability opportunities, 
                            with the shop itself being utilised as a training facility.</p>
                            <br>
                            <p class="card-text" style="font-size: 21">The Scottish Pantry Network will support the pantries by being 
                            the collective voice for change, we forge strong partnerships to support the development of the hub model, 
                            creating a tailored experience for local communities.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid rounded-start" src="FruitVeg.png" alt="Fruit & Veg" width="500" height="500">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
