<html>
    <head>
    </head>

    <body>
        {{>navbarAdmin}}

        <div class="container">
            <h1>ADMIN USER MANAGEMENT</h1>
            <br>
            <br>
        </div>

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                {{#users}}
                    <tr>
                        <td class='user' id='user'>{{user}}</td>
                        <td>
                            <form action="/admin" method="post">
                            <input type="hidden" name="userId" value="{{_id}}">
                            <button class="btn rounded-pill btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {{/users}}
                </tbody>
            </table>
        </div>
    </body>
</html>