<html>
    <head>
    </head>

    <body>
        {{>navbar}}

        <div class="container">
            <br>
            <br>
        </div>

        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid rounded-start" src="TSPN_Logo.png" alt="TSPN Logo" width="520" height="500">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <br>
                            <h1 style="font-size: 60">Welcome!</h1>
                            <br>
                            <br>
                            <p class="card-text" style="font-size: 25">Thank you for your consideration in donating to
                            The Scottish Pantry Network.
                            <br>
                            <br>
                            To get started with your donation, please sign or create an account.
                            <br>
                            <br></p>
                            <a href="/login" class="btn btn-primary btn-lg" role="button" style="background-color: #7db4b6; border-color: #7db4b6">Log In</a>
                            <a href="/register" class="btn btn-primary btn-lg" role="button" style="background-color: #7db4b6; border-color: #7db4b6">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>