<html>
    <head>
    </head>

    <body>
        {{>navbarPantry}}

        <div class="container">
            <h1>PANTRY CENTRAL INVENTORY</h1>
            <br>
            <br>
        </div>

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Food</th>
                        <th>Quantity</th>
                        <th>Weight(g)</th>
                        <th>Date Harvested</th>
                        <th>Expiry Date</th>
                    </tr>
                </thead>
                <tbody>
                {{#donations}}
                    <tr>
                        <td class='name' id='name'>{{name}}</td>
                        <td class='quantity' id='quantity'>{{quantity}}</td>
                        <td class='weight' id='weight'>{{weight}}</td>
                        <td class='dateHarvest' id='dateHarvest'>{{dateHarvest}}</td>
                        <td class='dateExpiry' id='dateExpiry'>{{dateExpiry}}</td>
                        <td>
                            <form action="/pantryHome" method="post">
                            <input type="hidden" name="donationId" value="{{_id}}">
                            <button class="btn rounded-pill btn-success" type="submit">Claim Donation</button>
                            </form>
                        </td>
                    </tr>
                {{/donations}}
                </tbody>
            </table>
        </div>
    </body>
</html>